@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: theme('colors.gray.700');
  background-color: theme('colors.brand.bg');
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: theme('colors.brand.bg');
  color: theme('colors.gray.700');
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  :root {
    color: theme('colors.gray.300');
    background-color: theme('colors.brand.bg-dark');
  }

  body {
    background-color: theme('colors.brand.bg-dark');
    color: theme('colors.gray.300');
  }
}
